* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5% ;
    background-color: rgba(255, 255, 255);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3); */
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: 2.6rem;
}

.line {
    width: 3rem;
    height: 0.2rem;
    background-color: #323232;
}

/* burger animation */
/* burger animation */
.burger.open .line1 {
    -moz-transform: rotate(45deg) translate(8px, 7px);
    -o-transform: rotate(45deg) translate(8px, 7px);
    -ms-transform: rotate(45deg) translate(8px, 7px);
    -webkit-transform: rotate(45deg) translate(8px, 7px);
    transform: rotate(45deg) translate(8px, 5px);
    transition: all 0.4s ease;
    
}

.burger.open .line2 {
    opacity: 0;
    transition: all 0.4s ease;
}

.burger.open .line3 {
    -moz-transform: rotate(-45deg) translate(7px, -6px);
    -o-transform: rotate(-45deg) translate(7px, -6px);
    -ms-transform: rotate(-45deg) translate(7px, -6px);
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
    transform: rotate(-45deg) translate(8px, -5px);
    transition: all 0.4s ease;
}

.nav-links {
    position: fixed;
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 255, 255);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10rem 5% 5rem;
    /* backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4); */
    transform: translateY(-110%);
    transition: transform 0.3s ease;
    z-index: 900;
}

.nav-links.active {
    transform: translateY(0%);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
    padding: 3rem 0;
}

.links li{
    list-style: none;
    height: 2rem;
}

.links a {
    text-decoration: none;
    color: #323232;
    font-size: 1.8rem;
    font-weight: 300;
}


.contact-links p,
.contact-links p a {
    font-size: 1.4rem;
    color: #323232;
    font-weight: 300;
}



/* header */
/* header */
/* header */
.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/header\ mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.name-container {
    height: 8.5rem;
    overflow: hidden;
}

.hero-name {
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
}

.sub-name-container {
    height: 4.5rem;
    overflow: hidden;
}

.hero-sub-name {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

.slogan-container {
    color: #fff;
    height: 3rem;
    margin-bottom: 1rem;
}

.slogan {
    font-size: 2.5rem;
    font-weight: 300;
}

.header a {
    height: 3rem;
    overflow: hidden;
}

.cta-btn {
    height: 3rem;
    width: 20rem;
    background: #399D16;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #fff;
}




/* what we do section */
/* what we do section */
/* what we do section */
.do-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5%;
}

.heading {
    font-size: 1.8rem;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}
.arrow {
    width: 3rem;
    margin-left: 1.5rem;
}

.box-container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 25rem;
    margin: 1rem 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2.5rem;
}

.box1 {
    background: url(/images/services1.png);
}

.box2 {
    background: url(/images/services2.jpg);
}

.box3 {
    background: url(/images/services3.png);
}

.box-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2.5rem;
}

.box-text-container h5 {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}



/* about section */
/* about section */
/* about section */
.about-section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5rem 0;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #323232;
    height: 25rem;
}

.about-heading {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
}

.text-info {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 2rem 7%;
    text-align: center;
}

.about-img1 {
    height: 30rem;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
}

.img1 {
    width: 100%;
    height: 100%;
    background-image: url(/images/about-img1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-img2 {
    display: none;
}





/* footer section */
/* footer section */
/* footer section */
footer {
    background-color: #323232;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.address-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    padding: 2rem 0;
}

.address-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0;
}

.address-link img {
    width: 20px;
}

.address-link a {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.footer-links, .copywrite {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
}

.footer-links ul a {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration: none;
}

.copywrite {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
}

.copywrite p a {
    color: #fff;
}








/* directions page */
/* directions page */
/* directions page */
/* directions page */
/* directions page */

.map-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-x: hidden;
}

.map {
    padding: 6rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

















/* services page */
/* services page */
/* services page */
/* services page */
/* services page */
/* services page */
.services-header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/services-bg-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-text-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-text-container p {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.box4 {
    background: url(/images/services4.png);
}

.box5 {
    background: url(/images/services5.png);
}

.box6 {
    background: url(/images/services6.png);
}

.services-box-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2.5rem;
}

.services-box-text-container h4 {
    color: #fff;
    font-size: 2.4rem;
    margin: 2rem 0;
    text-align: center;
    font-weight: 400;
    width: 100%;

}

.services-box-text-container p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding: 0 5%;
}

.banner {
    background-image: url(/images/service-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    margin: 3rem 0 7rem;
}

















/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
.contact-header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/contact-bg-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-container {
    padding: 0 5%;
}

.content-box {
    background-color: #399D16;
    color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 20px;
    height: 25rem;
}

.content-box h4 {
    margin-top: 1rem;
    text-align: center;
}






















/* contact page */
/* contact page */
/* contact page */
/* contact page */
/* contact page */
/* contact page */
.contact {
    display: flex;
    flex-direction: column;
    padding: 10rem 5% 5rem;
    background-color: #323232;
}

.text-section {
    width: 100%;
    margin-bottom: 7rem;
}

.contact-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    padding: 2rem 0;

}

.contact-link {
    padding: 0.5rem 2rem ;
    display: flex;
    align-items: center;
}

.contact-link img {
    width: 18px;
}

.contact-link a {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.form-section {
    width: 100%;

}

.rect {
    height: 4rem;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 2rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0.5rem;
}

.textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 3rem;
    font-size: 1.6rem;
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    padding: 1rem
}

.button {
    width: 100%;
    height: 4rem;
    background-color: #399D16;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    margin-top: 3rem;
}
















/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
@media screen and (min-width: 768px) {

    .header {
        background-image: url(/images/desktop\ header.png);
    }
    
    .name-container {
        height: 13rem;
        overflow: hidden;
    }
    
    .hero-name {
        color: #fff;
        font-size: 13rem;
        font-weight: 700;
    }
    
    .sub-name-container {
        height: 7rem;
        overflow: hidden;
    }
    
    .hero-sub-name {
        color: #fff;
        font-size: 7rem;
        font-weight: 500;
    }
    
    .slogan-container {
        color: #fff;
        height: 4rem;
        margin-bottom: 2rem;
    }
    
    .slogan {
        font-size: 4rem;
        font-weight: 400;
    }
    
    .header a {
        height: 3rem;
        overflow: hidden;
    }
    
    .cta-btn {
        height: 3rem;
        width: 20rem;
        background: #399D16;
        border: none;
        border-radius: 1rem;
        font-size: 1.6rem;
        color: #fff;
    }



    /* what we do section */
    /* what we do section */
    /* what we do section */
    .do-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 5%;
    }

    .heading {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .box-container {
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .box {
        width: 100%;
        height: 20rem;
        margin: 1rem;
        background-color: aqua;

    }
    





    /* about section */
    /* about section */
    /* about section */
    .about-section {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 5rem 0;
        
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #323232;
        height: 33rem;
        width: 55%;
        margin-left: 5%;
        padding: 2rem 3%;
    }

    .about-heading {
        font-size: 1.8rem;
        font-weight: 300;
        color: #fff;
    }

    .text-info {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 2rem 0%;
        text-align: left;
    }

    .about-img1 {
        height: 30rem;
        width: 50rem;
        background-color: #fff;
        padding: 2rem;
        position: absolute;
        right: 20%;
        top: 35rem;
        z-index: 10;
    }

    .img1 {
        width: 100%;
        height: 100%;
        background-image: url(/images/about-img1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-img2 {
        display: flex;
        height: 25rem;
        width: 30rem;
        background-color: #fff;
        padding: 2rem;
        position: absolute;
        right: 2rem;
        top: 8rem;
    }

    .img2 {
        width: 100%;
        height: 100%;
        background-image: url(/images/about-img2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }




    /* footer section */
    /* footer section */
    /* footer section */
    footer {
        background-color: #323232;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 2rem 5%;
        
    }

    .footer-home {
        top: 17rem;
    }

    .address {
        display: block;
    }

    .address-heading {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        padding: 2rem 0;
    }

    .address-link {
        display: flex;
        align-items: left;
        justify-content: left;
        padding: 0.3rem 0;

    }

    .address-link img {
        width: 20px;
    }

    .address-link a {
        color: #fff;
        font-weight: 300;
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .footer-links, .copywrite {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .footer-links ul {
        display: flex;
        flex-direction: column;
    }

    .footer-links ul a {
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.5;
        text-decoration: none;
    }

    .address-right {
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }

    .copywrite {
        color: #fff;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 6rem 0 0;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }

    .copywrite p a {
        color: #fff;
    }







    /* directions page */
    /* directions page */
    /* directions page */
    /* directions page */
    /* directions page */
    .map-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    .map {
        padding: 6rem 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }















    
    /* services page */
    /* services page */
    /* services page */
    /* services page */
    /* services page */
    /* services page */
    .services-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/services-bg-desktop.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-text-container {
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service-text-container p {
        font-size: 7rem;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }









    




    /* about page */
    /* about page */
    /* about page */
    /* about page */
    /* about page */
    /* about page */
    /* about page */

    .body-container {
        position: relative;
        top: 30rem;
    }

    .contact-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/contact-bg-desktop.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .content-container {
        margin: 0 0 5rem 0;
        padding: 0 5%;
        display: flex;
    }

    .content-box {
        background-color: #399D16;
        color: #fff;
        margin: 0 1rem;
        padding: 1rem 2rem;
        border-radius: 20px;
        height: 25rem;
        width: 100%;
        max-width: 45rem;
    }

    .content-box h4 {
        margin-top: 1rem;
        text-align: center;
    }

    .content-box p {
        text-align: center;
    }
    .content-box p span{
        height: 2.5rem;
    }









    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    .contact {
        display: flex;
        flex-direction: row;
        height: 100vh;
        padding: 10rem 5% 5rem;
        background-color: #323232;
    }

    .text-section {
        width: 50%;
        margin-bottom: 7rem;
    }

    .contact-heading {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        padding: 2rem 0;

    }

    .contact-link {
        padding: 0.5rem 2rem ;
        display: flex;
        align-items: center;
    }

    .contact-link img {
        width: 18px;
    }

    .contact-link a {
        color: #fff;
        font-weight: 300;
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .form-section {
        width: 50%;
    }

    .rect {
        height: 4rem;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        margin-top: 2rem;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 0.5rem;
    }

    .textarea {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        margin-top: 3rem;
        font-size: 1.6rem;
        font-family: 'roboto', sans-serif;
        color: #fff;
        font-weight: 300;
    }

    .button {
        width: 100%;
        height: 4rem;
        background-color: #399D16;
        color: #fff;
        border: none;
        border-radius: 1rem;
        font-size: 1.6rem;
        margin-top: 3rem;
        cursor: pointer;
    }

    




}













/* laptop screen */
/* laptop screen */
/* laptop screen */
/* laptop screen */
/* laptop screen */

@media screen and (min-width: 1024px) {
    .burger {
        display: none;
    }
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 7.2vh;
        background-color: rgba(255, 255, 255, 0);
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        transform: translateY(0%);
        z-index: 1000;
        padding: 2rem 5% 2rem;
        backdrop-filter: none;
        border: none;
        box-shadow:none;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
        padding: 0;
        width: 45rem;
    }

    .links li{
        list-style: none;
        height: 2rem;
    }
    
    .links a {
        text-decoration: none;
        color: #323232;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .links .active-page {
        text-decoration: none;
        color: #65ca40;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .bottom-line {
        background-color: #65ca40;
        height: 2px;
    }

    .links a:hover {
        color: #65ca40;
    }

    .contact-links {
        display: none;
    }





    /* header section */
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    .header {
        background-image: url(/images/desktop\ header.png);
    }
    
    .name-container {
        height: 18rem;
        overflow: hidden;
    }
    
    .hero-name {
        color: #fff;
        font-size: 18rem;
        font-weight: 700;
    }
    
    .sub-name-container {
        height: 10rem;
        overflow: hidden;
    }
    
    .hero-sub-name {
        color: #fff;
        font-size: 10rem;
        font-weight: 500;
    }
    
    .slogan-container {
        color: #fff;
        height: 6rem;
        margin-bottom: 2rem;
    }
    
    .slogan {
        font-size: 6rem;
        font-weight: 400;
    }
    
    .header a {
        height: 4rem;
        overflow: hidden;
    }
    
    .cta-btn {
        height: 4rem;
        width: 25rem;
        background: #399D16;
        border: none;
        border-radius: 1.5rem;
        font-size: 1.6rem;
        color: #fff;
    }

    .cta-btn:hover {
        background: #65ca40;
    }







    /* what we do section */
    /* what we do section */
    /* what we do section */
    .heading {
        font-size: 2.5rem;
        font-weight: 400;
        color: #323232;
        text-decoration: none;
    }

    .box {
        width: 100%;
        height: 30rem;
        margin: 1rem ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 2.5rem;
    }

    .box-text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 2.5rem;
    }
    
    .box-text-container h5 {
        color: #fff;
        font-size: 3rem;
        font-weight: 400;
    }





    
    /* about section */
    /* about section */
    /* about section */
    .about-section {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 5rem 0;
        
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #323232;
        height: 40rem;
        width: 50%;
        margin-left: 5%;
        padding: 2rem 5%;
    }

    .about-heading {
        font-size: 2.5rem;
        font-weight: 300;
        color: #fff;
    }

    .text-info {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 300;
        padding: 3rem 0%;
        text-align: left;
    }

    .about-img1 {
        height: 35rem;
        width: 55rem;
        background-color: #fff;
        padding: 2rem;
        position: absolute;
        right: 35rem;
        top: 35rem;
        z-index: 10;
    }

    .desktop-about-img1 {
        height: 40rem;
        width: 60rem;
        background-color: #fff;
        padding: 2rem;
        position: absolute;
        right: 35rem;
        top: 38rem;
        z-index: 10;
    }

    .img1 {
        width: 100%;
        height: 100%;
        background-image: url(/images/about-img1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-img2 {
        display: flex;
        height: 38rem;
        width: 45%;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        position: absolute;
        right: 3rem;
        top: 8rem;
    }

    .img2 {
        width: 100%;
        height: 100%;
        background-image: url(/images/about-img2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }




    /* footer section */
    /* footer section */
    /* footer section */
    .footer-home {
        top: 24rem;
    }












    
    /* services page */
    /* services page */
    /* services page */
    /* services page */
    /* services page */
    /* services page */


    .service-text-container {
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 7%;
    }

    .service-text-container p {
        font-size: 8rem;
        color: #fff;
        font-weight: 800;
        text-align: center;
    }












    
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    .form-section {
        width: 35%;
    }

    .button:hover {
        background-color: #65ca40;
    }









}













/* large desktop screen 1440px */

@media screen and (min-width: 1440px) {
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    .name-container {
        height: 23rem;
        overflow: hidden;
    }
    
    .hero-name {
        color: #fff;
        font-size: 23rem;
        font-weight: 700;
    }
    
    .sub-name-container {
        height: 13rem;
        overflow: hidden;
    }
    
    .hero-sub-name {
        color: #fff;
        font-size: 13rem;
        font-weight: 500;
    }
    
    .slogan-container {
        color: #fff;
        height: 8rem;
        margin-bottom: 1rem;
    }
    
    .slogan {
        font-size: 8rem;
        font-weight: 400;
    }
    
    .header a {
        height: 4rem;
        overflow: hidden;
    }
    
    .cta-btn {
        height: 4rem;
        width: 25rem;
        background: #399D16;
        border: none;
        border-radius: 1.5rem;
        font-size: 1.6rem;
        color: #fff;
    }
}




