* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    width: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5% ;
    background-color: rgb(255, 255, 255, 0.2);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(247, 247, 247, 0.3);
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: 2.6rem;
}

.line {
    width: 3rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
}

/* burger animation */
/* burger animation */
.burger.open .line1 {
    -moz-transform: rotate(45deg) translate(8px, 7px);
    -o-transform: rotate(45deg) translate(8px, 7px);
    -ms-transform: rotate(45deg) translate(8px, 7px);
    -webkit-transform: rotate(45deg) translate(8px, 7px);
    transform: rotate(45deg) translate(8px, 5px);
    transition: all 0.4s ease;
    
}

.burger.open .line2 {
    opacity: 0;
    transition: all 0.4s ease;
}

.burger.open .line3 {
    -moz-transform: rotate(-45deg) translate(7px, -6px);
    -o-transform: rotate(-45deg) translate(7px, -6px);
    -ms-transform: rotate(-45deg) translate(7px, -6px);
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
    transform: rotate(-45deg) translate(8px, -5px);
    transition: all 0.4s ease;
}

.nav-links {
    position: fixed;
    width: 60%;
    height: 100vh;
    background-color: rgba(218, 218, 218, 0.2);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10rem 5% 5rem;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
    transform: translateY(-110%);
    transition: transform 0.3s ease;
}

.nav-links.active {
    transform: translateY(0%);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
    padding: 3rem 0;
}

.links li{
    list-style: none;
    height: 2rem;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}


.contact-links p,
.contact-links p a {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}



/* header */
/* header */
/* header */
.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/header\ mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.name-container {
    height: 8.5rem;
    overflow: hidden;
}

.hero-name {
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
}

.sub-name-container {
    height: 4.5rem;
    overflow: hidden;
}

.hero-sub-name {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

.slogan-container {
    color: #fff;
    height: 3rem;
    margin-bottom: 1rem;
}

.slogan {
    font-size: 2.5rem;
    font-weight: 300;
}

.header a {
    height: 3rem;
    overflow: hidden;
}

.cta-btn {
    height: 3rem;
    width: 20rem;
    background: #399D16;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #fff;
}


/* what we do section */
/* what we do section */
/* what we do section */
.do-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5%;
}

.heading {
    font-size: 1.8rem;
    font-weight: 400;
}

.box-container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 25rem;
    margin: 1rem 0;
    background-color: aqua;
}

.box-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.box-text-container h5 {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}
















/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
@media screen and (min-width: 768px) {
    .header {
        background-image: url(/images/desktop\ header.png);
    }
    
    .name-container {
        height: 13rem;
        overflow: hidden;
    }
    
    .hero-name {
        color: #fff;
        font-size: 13rem;
        font-weight: 700;
    }
    
    .sub-name-container {
        height: 7rem;
        overflow: hidden;
    }
    
    .hero-sub-name {
        color: #fff;
        font-size: 7rem;
        font-weight: 500;
    }
    
    .slogan-container {
        color: #fff;
        height: 4rem;
        margin-bottom: 2rem;
    }
    
    .slogan {
        font-size: 4rem;
        font-weight: 400;
    }
    
    .header a {
        height: 3rem;
        overflow: hidden;
    }
    
    .cta-btn {
        height: 3rem;
        width: 20rem;
        background: #399D16;
        border: none;
        border-radius: 1rem;
        font-size: 1.6rem;
        color: #fff;
    }



    /* what we do section */
    /* what we do section */
    /* what we do section */
    .do-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 5%;
    }

    .heading {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .box-container {
        
        margin: 1rem;
        display: flex;
        flex-direction: row;
    }

    .box {
        width: 100%;
        height: 20rem;
        margin: 1rem;
        background-color: aqua;

    }
    




}













/* laptop screen */
/* laptop screen */
/* laptop screen */
/* laptop screen */
/* laptop screen */

@media screen and (min-width: 1024px) {
    .burger {
        display: none;
    }
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 7.2vh;
        background-color: rgba(255, 255, 255, 0);
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        transform: translateY(0%);
        z-index: 1000;
        padding: 2rem 5% 2rem;
        backdrop-filter: none;
        border: none;
        box-shadow:none;

    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
        padding: 0;
        width: 45rem;
    }

    .links li{
        list-style: none;
        height: 2rem;
    }
    
    .links a {
        text-decoration: none;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .links a:hover {
        color: #65ca40;
    }

    .contact-links {
        display: none;
    }





    /* header section */
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    .header {
        background-image: url(/images/desktop\ header.png);
    }
    
    .name-container {
        height: 18rem;
        overflow: hidden;
    }
    
    .hero-name {
        color: #fff;
        font-size: 18rem;
        font-weight: 700;
    }
    
    .sub-name-container {
        height: 10rem;
        overflow: hidden;
    }
    
    .hero-sub-name {
        color: #fff;
        font-size: 10rem;
        font-weight: 500;
    }
    
    .slogan-container {
        color: #fff;
        height: 6rem;
        margin-bottom: 2rem;
    }
    
    .slogan {
        font-size: 6rem;
        font-weight: 400;
    }
    
    .header a {
        height: 4rem;
        overflow: hidden;
    }
    
    .cta-btn {
        height: 4rem;
        width: 25rem;
        background: #399D16;
        border: none;
        border-radius: 1.5rem;
        font-size: 1.6rem;
        color: #fff;
    }
    
}













/* large desktop screen 1440px */

@media screen and (min-width: 1440px) {
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    .name-container {
        height: 23rem;
        overflow: hidden;
    }
    
    .hero-name {
        color: #fff;
        font-size: 23rem;
        font-weight: 700;
    }
    
    .sub-name-container {
        height: 13rem;
        overflow: hidden;
    }
    
    .hero-sub-name {
        color: #fff;
        font-size: 13rem;
        font-weight: 500;
    }
    
    .slogan-container {
        color: #fff;
        height: 8rem;
        margin-bottom: 1rem;
    }
    
    .slogan {
        font-size: 8rem;
        font-weight: 400;
    }
    
    .header a {
        height: 4rem;
        overflow: hidden;
    }
    
    .cta-btn {
        height: 4rem;
        width: 25rem;
        background: #399D16;
        border: none;
        border-radius: 1.5rem;
        font-size: 1.6rem;
        color: #fff;
    }
}




